{erl_opts, [
	debug_info,
	inline_list_funcs,
	warn_deprecated_function,
	warn_export_all,
	warn_export_vars,
	warn_obsolete_guard,
	warn_shadow_vars,
%	warn_untyped_record, %% FIXME
	warn_unused_function,
	warn_unused_import,
	warnings_as_errors,
	{parse_transform, lager_transform}
]}.

{relx, [
	{release, {todee, "0.1.0"}, [
		todee_data,
		todee_web,
		sasl,
		{observer, load},      %% Allow live debugging of server
		{wx, load},            %% Required by observer
		{runtime_tools, load}  %% Required by observer
	]},

	{sys_config, "config/sys.config"},
	{vm_args, "config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

%% Disable due to bug in cover app
%% in 18.2 relating to edtl templates.
%% fixed in 18.3 -- should be re-enabled after
%% we are using 18.3 across the board for dev
%% call it 2015-04-01
%% 2015-03-18 -- sgh
{cover_enabled, false}.

{profiles, [
	{prod, [
		{relx, [
			{dev_mode, false},
			{include_erts, true},
			{sys_config, "./config/sys.config"},
			{vm_args, "./config/vm.args"}
		]},
		{cover_enabled, false}
	]},
	{dev, [
		{relx, [
			{dev_mode, true},
			{include_erts, false},
			{sys_config, "./config/dev.sys.config"},
			{vm_args, "./config/dev.vm.args"}
		]},
		{cover_enabled, false}
	]},
	{test, [
		{deps, [
			{meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
		]}
	]}
]}.

{xref_checks, [
	undefined_function_calls,
	undefined_functions,
	locals_not_used,
	%% exports_not_used,
	deprecated_function_calls,
	deprecated_functions
]}.

{deps, [
	{lager, {git, "https://github.com/basho/lager",             {branch, "master"}}}
]}.

{plugins, [
	{rebar3_run, {git, "https://github.com/tsloughter/rebar3_run.git", {branch, "master"}}},
	{rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}

]}.
